<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <h3>Users search for "<%= @word %>"</h3>
    <%= render 'users/index', users: @records %>
  <% elsif @range == "Book" %>
    <h3>Books search for "<%= @word %>"</h3>
    <%= render 'books/index', books: @records %>
  <% end %>
